{% extends "calcutron/base.html" %}

{% load index %}


{% block script %}
<script>
    function showTab(tab_element, task_id) {
        $("nav button").removeClass("active")
        $(tab_element).addClass("active")

        $(".tab-contents-container").hide()
        $(".tab-contents-container#" + task_id).show()
    }
</script>
{% endblock script %}


{% block body %}
<nav class="top-tab-container">
    {% for tab in tabs %}
        <button onclick="showTab(this, {{ tab.id }})">
            <span>{{ tab.title }}</span>
        </button>
    {% endfor %}
</nav>

{% for tab in tabs %}
    {% include "calcutron/task.html" with task=tab %}
{% endfor %}

{% endblock %}
