{% if task.parent is None %}
    <div class="tab-contents-container" id="container-of-{{ task.id }}">
{% endif %}

{% if task.parent is not None %}
    <div class="main-row">
        <span class="title">{{ child.title }}</span>

        {% comment %} Show children and add/delete buttons {% endcomment %}
        <button class="show-children" onclick="toggleChildren(this, {{ task.id }})">v</button>

        {% comment %} Show Add form {% endcomment %}
        <button class="show-add-form" onclick="showAddForm({{ task.id }})">+</button>

        {% comment %} Delete button {% endcomment %}
        {% url "delete" as delete_url %}
        <form class="delete-task" method="post" action="#" onsubmit="submitAjaxForm(event, this, '{{ delete_url }}')">
            {% csrf_token %}
            <input type="hidden" name="parent" value="{{ task.parent.id }}" />
            <input type="hidden" name="id" value="{{ task.id }}" />
            <button type="submit" class="submit">x</button>
        </form>
    </div>

    {% if child.long_text %}<div class="long-text">{{ child.long_text }}</div>{% endif %}
{% endif %}

{% include "calcutron/task_children.html" with task=task depth=depth %}

{% if task.parent is None %}
    </div>
{% endif %}
