
<ul class="{% if depth == 0 %}show{% endif %} child-tasks" id="children-of-{{ task.id }}">
    {% for child in task.children.all %}
        <li class="task-wrapper" id="wrapper-of-{{ child.id }}">
            {% include "calcutron/task.html" with task=child depth=depth|add:1 %}
        </li>
    {% endfor %}

    <li class="{% if task.parent is None %}show{% endif %} task-form-wrapper" id="add-form-of-{{ task.id }}">
        {% url "new" as new_url %}
        <form class="new-task" method="post" action="#" onsubmit="submitAjaxForm(event, this, '{{ new_url }}')">
            {% csrf_token %}
            <input type="hidden" name="parent" value="{{ task.id }}" />
            <input type="text" class="task-title" name="title" />
            <button type="submit" class="submit">Add</button>
        </form>
    </li>
</ul>
