.calcutron.mobile-ui {
    flex-flow: column;
    font-size: 16px;
    position: relative;

    .task-container-wrapper {
        height: calc(100% - 60px);

        // TODO: Put some media queries in fonts.less
        button, .button {
            font-size: 16px;
        }

        input {
            width: 200px;
        }

        .task-column {
            ul ul {
                margin: 0 0 0 18px;
            }
        }
    }
}
