.calcutron {
    width: 100%;
    height: 100%;

    display: flex;

    .task-container-wrapper {
        width: 100%;
        height: 100%;
        flex: 0 1 auto;

        padding: 20px 20px 20px 10px;

        color: @light-green;
        overflow-y: auto;

        display: flex;
        flex-flow: row;
        align-items: flex-start;

        .task-column {
            width: 100%;
            height: 100%;
            flex: 0 1 auto;

            display: flex;
            flex-flow: column;
            justify-content: flex-start;

            &:not(:last-of-type) {
                max-width: 400px;
            }

            .back-link-wrapper {
                padding: 5px;
                margin-bottom: 5px;
                flex: 0 0 auto;

                &:hover {
                    background-color: @pale-green;
                    color: @mid-green;
                }
            }

            .child-task-list-wrapper {
                width: 100%;
                height: 100%;
                flex: 0 1 auto;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    background: transparent;
                    width: 6px;
                }
                &::-webkit-scrollbar-button {
                    display: none;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-track-piece {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: @mid-green;
                }

                ul {
                    list-style: none;

                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;
                }

                & > ul {
                    margin: 0;
                }

                ul ul {
                    margin: 0 0 0 30px;
                }

                li {
                    padding: 5px 0;
                }

                li.task-wrapper {
                    width: 100%;

                    .main-row {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        justify-content: center;

                        position: relative;
                        user-select: none;

                        min-height: 35px;
                        width: 100%;

                        .checkbox-wrapper {
                            width: 30px;
                            height: 30px;
                            margin-right: 8px;
                            flex: 0 0 auto;

                            cursor: pointer;
                            z-index: 0;

                            input {
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                            }
                        }

                        .title {
                            display: flex;
                            flex-flow: row;
                            align-items: center;

                            height: 100%;
                            min-height: 35px;
                            width: 100%;

                            padding: 0 8px;
                            cursor: pointer;
                            z-index: 0;

                            .caret-wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                height: 100%;
                                width: 18px;
                                margin-left: 5px;

                                .caret {
                                    width: 10px;
                                    height: 10px;
                                    flex: 0 0 auto;

                                    border-right: 1px solid @light-green;
                                    border-bottom: 1px solid @light-green;
                                    transform: rotate(-45deg);

                                    &.open {
                                        transform: rotate(45deg);
                                        margin-top: -4px;
                                    }
                                }
                            }

                            &:hover {
                                // TODO: Find a slightly-less-than-white colour
                                color: @pale-green;

                                .caret-wrapper .caret {
                                    border-width: 2px;
                                    border-color: @pale-green;
                                }
                            }
                        }

                        .options-row {
                            display: flex;
                            flex-flow: row;
                            align-items: center;

                            margin: 5px 0;
                            padding-left: 30px;
                            z-index: 0;
                        }

                        .title, .options-row > * {
                            margin-right: 8px;
                            min-height: 35px;
                        }

                        .dropzone-container {
                            position: absolute;
                            left: 0;
                            top: -5px;
                            width: 100%;
                            height: calc(100% + 10px);

                            z-index: 1;

                            display: flex;
                            flex-flow: column;

                            .dropzone {
                                width: 100%;

                                &.highlight {
                                    background-color: rgba(255, 255, 255, 0.3);
                                }

                                &.before, &.after {
                                    height: 25%;
                                }

                                &.in {
                                    height: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .task-form-wrapper {
            padding: 5px 0 5px 8px;
            flex: 0 0 auto;

            display: flex;
            flex-flow: row;
            align-items: center;

            & > * {
                margin-right: 10px;
                min-height: 34px;
            }
        }
    }
}
