.calcutron {
    width: 100%;
    height: 100%;

    display: flex;

    .task-container-wrapper {
        width: 100%;
        height: 100%;
        flex: 0 1 auto;

        padding: 0;
        overflow-y: auto;

        display: flex;
        flex-flow: row;
        align-items: flex-start;

        .task-column {
            width: 100%;
            height: 100%;
            flex: 0 1 auto;

            padding: 20px 0;

            display: flex;
            flex-flow: column;
            justify-content: flex-start;

            &:not(:last-of-type) {
                width: 300px;
                flex: 0 0 auto;

                .heading-wrapper .heading {
                    // Fix the width so that the ellipsis truncation works correctly.
                    width: calc(100% - 80px);
                    max-width: 200px;
                }
            }

            &:last-of-type {
                .heading-wrapper .heading {
                    // Fix the width so that the ellipsis truncation works correctly.
                    width: calc(100% - 80px);
                    max-width: 400px;
                }
            }

            &:nth-last-child(2) {
                background-color: @background-shade-1;
            }

            &:nth-last-child(3) {
                background-color: @background-shade-2;
            }

            &:nth-last-child(n+4) {
                background-color: @background-shade-3;
            }

            .heading-wrapper {
                padding: 0 10px;
                margin-bottom: 5px;
                flex: 0 0 auto;

                display: flex;
                flex-flow: row;
                justify-content: flex-start;
                align-items: center;

                .back-button {
                    padding: 5px;
                    margin-right: 15px;
                    width: 65px;
                    flex: 0 0 auto;
                }

                .heading {
                    padding: 5px;
                    flex: 0 0 auto;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .font-size-large();
                }
            }

            .child-task-list-wrapper {
                width: 100%;
                height: 100%;
                flex: 0 1 auto;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    background: transparent;
                    width: 6px;
                }
                &::-webkit-scrollbar-button {
                    display: none;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-track-piece {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: @text-light;
                }

                ul {
                    list-style: none;

                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;
                }

                & > ul {
                    margin: 0;
                }

                ul ul {
                    margin: 0 0 0 30px;
                }

                li {
                    padding: 8px 10px;
                }

                li.task-wrapper {
                    width: 100%;
                    border: 1px solid transparent;

                    &:hover {
                        border: 1px solid @text-dark;
                    }

                    &.active {
                        background-color: @background;
                        font-weight: bold;
                    }

                    .main-row {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        justify-content: center;

                        position: relative;
                        user-select: none;

                        min-height: 35px;
                        width: 100%;

                        .checkbox-wrapper {
                            width: 30px;
                            height: 30px;
                            margin-right: 8px;
                            flex: 0 0 auto;

                            cursor: pointer;
                            z-index: 0;

                            input {
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                            }
                        }

                        .title {
                            display: flex;
                            flex-flow: row;
                            align-items: center;

                            height: 100%;
                            width: 100%;
                            min-height: 35px;
                            margin-right: 8px;

                            padding: 0 8px;
                            cursor: pointer;
                            z-index: 0;

                            .caret-wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                height: 100%;
                                width: 18px;
                                margin-left: 5px;

                                .caret {
                                    width: 10px;
                                    height: 10px;
                                    flex: 0 0 auto;

                                    border-right: 1px solid @text-dark;
                                    border-bottom: 1px solid @text-dark;
                                    transform: rotate(-45deg);
                                }
                            }
                        }

                        .dropzone-container {
                            position: absolute;
                            left: 0;
                            top: -5px;
                            width: 100%;
                            height: calc(100% + 10px);

                            z-index: 1;

                            display: flex;
                            flex-flow: column;

                            .dropzone {
                                width: 100%;

                                &.highlight {
                                    background-color: rgba(255, 255, 255, 0.3);
                                }

                                &.before, &.after {
                                    height: 25%;
                                }

                                &.in {
                                    height: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .task-form-wrapper {
            padding: 5px 10px;
            flex: 0 0 auto;

            display: flex;
            flex-flow: row;
            align-items: center;

            & > * {
                margin-right: 10px;
                min-height: 34px;
            }
        }
    }
}
