nav {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    background-color: @dark-green;

    button {
        height: 50px;
        width: 100%;
        flex: 0 1 auto;

        margin: 0 20px;
        .font-size-large();
    }
}

.tab-contents-container {
    padding: 30px;

    &:not(.show) {
        display: none;
    }

    button:hover {
        border-color: @main-green !important;
    }

    ul {
        list-style: none;
        margin: 10px 0 10px 30px;
    }

    & > ul {
        margin: 5px 0 30px 0;
    }

    li.task-wrapper {
        .main-row {
            display: flex;
            flex-flow: row;
            align-items: center;

            .title, .delete-task {
                margin-right: 8px;
            }
        }
    }

    li.task-form-wrapper {
        display: flex;
        flex-flow: row;
        align-items: center;

        .form-visibility-wrapper {
            display: flex;
            flex-flow: row;
            align-items: center;

            &:not(.show) {
                display: none;
            }

            form.new-task {
                display: flex;
                flex-flow: row;

                & > * {
                    margin-right: 10px;
                }
            }
        }
    }
}
