button, .button, input, .input {
    background-color: @background-shade-1;
    border: 2px solid @text-light;
    border-radius: 5px;

    color: @text-dark;
    outline: none;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

button, .button {
    padding: 5px 10px;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover:not(:disabled):not(.disabled):not(.active) {
        border-color: @text-dark;
        background-color: @background-shade-3;
    }

    &.active {
        border-color: @text-dark;
    }

    &:focus, &:active {
        outline: none;
    }
}

input, .input {
    width: 300px;
    height: 34px;
    border-radius: 5px;
    padding: 0 5px;
    .font-face();

    &:focus {
        border-color: @text-dark;
    }
}
